

table {
  justify-content: center;
  margin-top: 5%;
}

#returnBtn {
  font-family: "Roboto Mono", sans-serif;
  border:none;
  color:white;
  background-color:#008000;
  margin-top: 80px;
  margin-left: 20px;
  justify-content:left;
}

.column {
  padding-right: 5%;
  font-weight: bold;
}

#contactBtn {
  margin-bottom: 15%;
  color: white;
  border: none;
  text-align: center;
  font-family: "Roboto Mono", sans-serif;
  background-color: black;
}

.cityButton {
  color: black;
}
